<div id="onglets">
    <a role="button" class="onglet_1" href="#onglet_1">Accueil</a>
    <a role="button" href="#onglet_2">Recherche</a>
    <a role="button" href="#onglet_3">Inscription</a>
    <div class="onglet" id="onglet_1">
        <h3>Accueil</h3>
        <p>leboncouac.fr<br>
        Formez votre groupe de musique facilement !</p>
    </div>
    <div class="onglet" id="onglet_2">
        <h3>Recherche</h3>
        <p>Rechercher un musicien</p>
    </div>
    <div class="onglet" id="onglet_3">
        <h3>Inscription</h3>
        <p>S'inscrire en tant que musicien</p>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#onglets .onglet").not(":first").hide();
        $("#onglets a:first").addClass("actif");
        $("#onglets a").click(
            function(){
                $("#onglets a").removeClass("actif");
                $("#onglets .onglet").hide();
                $(this.hash).show();
                $(this).blur().addClass("actif");
                return false;
            }
        );
    });
</script>
