<div id="bandeau"></div>

<div id="main">
    <div id="entete"><img src="<%= image_path 'leboncouac-beige-200.png' %>"/></div>

    <div id="onglets">
        <a role="button" class="button onglet_1" href="#accueil">Accueil</a>
        <a role="button" class="button" href="#all-musicians">Recherche</a>
        <a role="button" class="button" href="#new-musician">Inscription</a>
        <div class="onglet" id="accueil">
            <h3>Accueil</h3>
            <p>Avec leboncouac.fr, formez votre groupe de musique facilement !</p>
            <br/>

            <h4>Vous êtes musicien et vous cherchez un groupe ?</h4>
            <p>Inscrivez-vous via le formulaire d'inscription !
            <br>Vous pourrez alors être contactés par les groupes de musique de votre région à la recherche d'un musicien correspondant à votre profil.
            </p>
            <br/>

            <h4>Vous faites partie d'un groupe et il vous manque un musicien ?</h4>
            <p>Contactez les musiciens dont vous avez besoin !
            <br>L'onglet de recherche permet de trier les musiciens en fonction des critères de votre choix.
                Une fois le musicien correspondant trouvé, il ne vous reste plus qu'à le contacter via le formulaire de contact.
            </p>
            <br/>

            <h4>Vous avez une remarque, une question ?</h4>
            <p>N'hésitez pas à nous contacter !
            <br>Contact : <%= mail_to "contact@leboncouac.fr" %>
            </p>
        </div>
        <div class="onglet" id="all-musicians"></div>
        <div class="onglet" id="new-musician"></div>
    </div>

    <div id="publicite">
    </div>

</div>

<script type="text/javascript">
    $(function(){
        $("#onglets .onglet").not(":first").hide();
        $("#onglets .button:first").addClass("actif");
        $("#onglets .button").click(
            function(){
                $("#onglets .button").removeClass("actif");
                $("#onglets .onglet").hide();
                $(this.hash).show();
                $(this).blur().addClass("actif");
                return false;
            }
        );
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#new-musician').load('<%= new_musician_url %>');
        $('#all-musicians').load('<%= musicians_url %>');
    });
</script>
