<div id="new-musician"></div>

<hr>

<div id="all-musicians"></div>

<hr>

<%= render 'test' %>

<script type="text/javascript">
    $(function() {
        $('#new-musician').load('<%= new_musician_url %>');
        $('#all-musicians').load('<%= musicians_url %>');
    });
</script>
