<header>
<p>It is now <%= @time %></p>
</header>

<div id="new-musician"></div>

<div id="all-musicians"></div>

<script type="text/javascript">
    $(function() {
        $('#new-musician').load('<%= new_musician_url %>');
        $('#all-musicians').load('<%= musicians_url %>');
    });
</script>
