<div id="onglets">
    <a role="button" class="button onglet_1" href="#acceuil">Accueil</a>
    <a role="button" class="button" href="#all-musicians">Recherche</a>
    <a role="button" class="button" href="#new-musician">Inscription</a>
    <div class="onglet" id="acceuil">
        <h3>Accueil</h3>
        <p>leboncouac.fr<br>
        Formez votre groupe de musique facilement !</p>
    </div>
    <div class="onglet" id="all-musicians">
        <h3>Recherche</h3>
        <p>Rechercher un musicien</p>
    </div>
    <div class="onglet" id="new-musician">
        <h3>Inscription</h3>
        <p>S'inscrire en tant que musicien</p>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#onglets .onglet").not(":first").hide();
        $("#onglets a:first").addClass("actif");
        $("#onglets a").click(
            function(){
                $("#onglets a").removeClass("actif");
                $("#onglets .onglet").hide();
                $(this.hash).show();
                $(this).blur().addClass("actif");
                return false;
            }
        );
    });
</script>

<%= render 'test' %>

<script type="text/javascript">
    $(function() {
        $('#new-musician').load('<%= new_musician_url %>');
        $('#all-musicians').load('<%= musicians_url %>');
    });
</script>
