// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#onglets .onglet {
     width:600px;
     border:1px solid #000;
     clear:left;
     padding:10px;
     zoom:1; /* ie */
     background:#F6F6F2;
}

#onglets a {
     width:100px;
     position:relative;
     margin-bottom:-1px;
     margin-right:7px;
     padding:5px;
     border-top:1px solid #000;
     border-bottom:1px solid #000;
     border-left:1px solid #000;
     border-right:1px solid #000;
     border-radius:5px 5px 0px 0px;
     float:left;
     text-align: center;
     text-decoration: none;
     color: #454545;
     background:#999;
}

#onglets a.onglet_1 {
     margin-left:200px;
}

#onglets a:hover {
    background:#DDD
}

#onglets a.actif {
    border-bottom-color:#FFF;
    background:#F6F6F2;
}

#onglets h3 {
    margin-top:0;
}
