// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bandeau {
    position:absolute;
    height:60px;
    width: 100%;
    background-color:#342612;
}

#publicite {
    position:absolute;
    height:600px;
    width: 120px;
    background-color:#ECEADF;
    color:white;
    top: 70px;
    right: 10px;
}

#publicite:hover {
    cursor: pointer;
}

#main {
    align: center;
    margin:0 auto;
    width: 800px;
}

#entete {
    position:absolute;
    width: 800px;
    margin-bottom:-30px;
    background-color:#342612;
}

#onglets {
    position:absolute;
    top: 32px;
    width: 800px;
}

#onglets .onglet {
    clear:left;
    padding:10px;
    zoom:1; /* ie */
    background-color:#F6F6F2;
}

#onglets a.button {
     width:100px;
     position:relative;
     margin-right:7px;
     padding:5px;
     border-radius:5px 5px 0px 0px;
     float:left;
     text-align: center;
     text-decoration: none;
     color: #454545;
     background-color:#999;
}

#onglets a.onglet_1 {
     margin-left:350px;
}

#onglets a:hover {
    background:#DDD
}

#onglets a.actif {
    background-color:#F6F6F2;
}

#onglets h3 {
    margin-top:10;
}
